<div class="editor-layout">
  <div class="panel parts-list">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit praesentium possimus odit! Vel quasi hic cupiditate assumenda ipsa nihil, explicabo a, voluptatibus totam accusantium, repellendus aliquid repudiandae odio adipisci placeat.
    Illo assumenda laborum odio provident itaque dicta! Ab porro incidunt aspernatur tempora nostrum? Impedit, labore odit, praesentium totam provident dolore, eius aperiam vel deleniti quibusdam obcaecati pariatur nulla aliquid adipisci.
    Dolorum voluptatum illo totam sint, enim expedita. Odio natus ad quisquam non. Vitae iste perferendis sunt labore repellat provident excepturi animi, est deserunt quas cum exercitationem magnam velit, voluptatum alias.
    Ullam blanditiis quidem excepturi neque voluptatum atque dicta vel! Non, temporibus libero. Architecto eos molestiae saepe sunt maxime, dolor expedita fugiat pariatur neque accusamus reprehenderit repudiandae facere. Amet, iste dolores?
    Ipsum laborum, voluptate odit quam numquam officiis voluptatem deleniti, hic at dolor accusamus iusto! Cupiditate provident, repudiandae molestias magnam consequuntur ipsam aperiam eos nobis minus pariatur aliquid placeat porro dolorum.
    Exercitationem placeat facilis illo, consequatur quia quae a vero minus veritatis cum, adipisci tenetur voluptatibus, corporis cupiditate? Totam itaque dignissimos deleniti? Recusandae similique beatae unde. Exercitationem reiciendis perspiciatis at ea?
    Consequatur, quo. Vero voluptatibus atque labore harum voluptatem aspernatur aliquid et consequuntur enim magni eaque non officiis hic dicta libero totam dolore aperiam, cupiditate soluta amet eius. Tempore, nemo cumque.
    Cumque ducimus quis cupiditate amet culpa ratione corrupti? Consectetur itaque commodi quo nulla molestias repellendus modi atque, odit mollitia cupiditate impedit aperiam error dolore iure ullam maiores quibusdam, nam minima!
    Ullam sit deserunt nam? Magni, quia suscipit illo facilis adipisci fugiat blanditiis explicabo placeat deleniti, error vero consequatur? Eligendi quibusdam ullam consectetur! Magnam numquam quis voluptates fugiat nulla nesciunt rem.
    Quia perspiciatis quam repudiandae architecto? Placeat, nostrum! Distinctio amet corrupti optio repellat maxime, ut quod voluptatibus eos enim, ea, reiciendis sequi est. Iusto cum dicta dolor illo quas, incidunt id.
  </div>
  <div class="panel canvas">
    <input class="mod-name-input" type="text" name="mod-name" placeholder="Type mod name here...">
  </div>
  <div class="panel new-part-form">
    <form action="javascript:void(0);" class="new-part-form">
      <h3>Add new part</h3>
      <label class="option" for="part-name">Name</label>
      <input class="option" type="text" name="part-name">
      <label class="option" for="mass">Mass</label>
      <input class="option" type="text" name="mass">
      <label class="option" for="length">Length</label>
      <input class="option" type="text" name="length">
      <label class="option" for="color">Color</label>
      <input class="option" type="color" name="color">
      <input class="add-button" type="button" value="Add">
      <span>or search in database</span>
      <input class="search-bar" type="text" name="search-query">
    </form>
  </div>
  <div class="panel calc-info"></div>
  <div class="panel menu"></div>
</div>