<div class="editor-layout">
  <div class="panel parts-list">1</div>
  <div class="panel canvas">
    <input class="mod-name-input" type="text" name="mod-name" placeholder="Type mod name here...">
  </div>
  <div class="panel new-part-form">2</div>
  <div class="panel calc-info">4</div>
  <div class="panel menu">5</div>
</div>