<div id="editor-container">
  <div class="pane ui-layout-center">
    Center
    <p><a href="http://layout.jquery-dev.com/demos.cfm"><B>Go to the Demos page</B></a></p>
  </div>
  <div class="pane ui-layout-north">North</div>
  <div class="pane ui-layout-south">South</div>
  <div class="pane ui-layout-east">East</div>
  <div class="pane ui-layout-west">West</div>
</div>