<div class="editor-layout">

  <div class="panel parts-list">
    
  </div>

  <div class="panel canvas">

    <input class="mod-name-input" type="text" name="mod-name" placeholder="Type mod name here...">
  </div>

  <div class="panel new-part-form">
    <form action="javascript:void(0);">
      <h3>Add new part</h3>

      <label class="option" for="part-name">Name</label>
      <input class="option" placeholder="Dr. Grip Grip" type="text" name="part-name">

      <label class="option" for="mass">Mass</label>
      <input class="option show-measure-units" placeholder="4.3 g" data-units="g" type="text" name="mass">

      <label class="option" for="length">Length</label>
      <input class="option show-measure-units" placeholder="5.15 cm" data-units="cm" type="text" name="length">

      <label class="option" for="color">Color</label>
      <input class="option" type="color" name="color">

      <input class="add-button" type="button" value="Add">

      <span>or search in database</span>
      <input class="search-bar" type="text" name="search-query">
    </form>
  </div>

  <div class="panel calc-info"></div>

  <div class="panel menu">
    <h2>Menu</h2>
    <button>New</button>
    <button>Open</button>
    <button>Save</button>
  </div>
</div>