<div class="editor-layout">

  <div class="panel parts-list-panel">
    <ul class="parts-list" id="parts-list"></ul>
  </div>

  <div class="panel canvas-panel">
    <canvas id="editor-canvas"></canvas>
    <input class="mod-name-input" type="text" name="mod-name" placeholder="Type mod name here...">
    <div class="controls-panel">
      <a id="controls-zoom-in" class="hover-darker-1">+</a>
      <a id="controls-zoom-out" class="hover-darker-1">–</a>
      <a id="controls-pan-left" class="hover-darker-1"><</a>
      <a id="controls-pan-right" class="hover-darker-1">></a>
    </div>
  </div>

  <div class="panel part-creator-panel">
    <form class="part-form" id="part-form" action="javascript:void(0);">
      <h3>Add new part</h3>

      <label class="option" for="name">Name</label>
      <input id="name" class="option" placeholder="Dr. Grip Grip" type="text" name="name">

      <label class="option" for="mass">Mass</label>
      <input id="mass" class="option show-measure-units" placeholder="4.3 g" data-units="g" type="text" name="mass">

      <label class="option" for="width">Length</label>
      <input id="width" class="option show-measure-units" placeholder="5.15 cm" data-units="cm" type="text" name="width">

      <label class="option" for="color">Color</label>
      <input id="color" class="option" type="color" name="color">

      <input class="add-button hover-lighter-2" type="submit" value="Add">
    </form>

    <div class="split-line"></div>

    <%= form_with url: search_parts_path, method: :post, class: "search-form" do |form| %>
      <span>or search in database</span>
      <%= form.search_field :query, oninput: "this.form.requestSubmit()", class: "search-bar" %>
    <% end %>
    <div id="search_results"></div>
  </div>

  <div class="panel calc-info-panel"></div>

  <div class="panel menu-panel">
    <h2>Menu</h2>
    <button>New</button>
    <button>Open</button>
    <button>Save</button>
  </div>
</div>

<%= content_tag :div, id: "data-element", style: "display: none", data: {structure: @structure} do %>
<% end %>