html,
body,
.nav-layout,
.page-content,
.editor-layout {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.editor-layout {
  display: grid;
  grid-template-areas: 
    "pl tl"
    "pl cv"
    "np cl";

  grid-template-columns: minmax(20em, 2fr) 8fr;
  grid-template-rows: min-content 5fr minmax(min-content, 2fr);
  gap: 3px;

  background-color: var(--c-black);
}

.panel {
  overflow: auto;
  background-color: white;
}

.parts-list-panel {
  grid-area: pl;
}

.canvas-panel {
  grid-area: cv;
}

.part-creator-panel {
  grid-area: np;
}

.calc-info-panel {
  grid-area: cl;
}

.tools-panel {
  grid-area: tl;
}