.part {
  padding: .2em .3em;

  display: grid;
  grid-template-columns: min-content 5fr 2fr 2fr;
  gap: .5rem;

  background-color: var(--c-white);
  font-size: 1rem;

  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
  }
}

.color-tag {
  width: 1em;
  aspect-ratio: 1 / 1;
  margin: auto 0;
  border-radius: 50%;
}

.part.sl-selected {
  background-color: var(--c-light-gray);
  color: var(--c-white);
}