.part-creator-panel {
  font-size: 1rem;
  padding: 1em;
  padding-top: .5em;
}

.part-form {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: min-content 1fr;
  column-gap: 1em;
  row-gap: 6px;

  & .add-button {
    grid-column: span 2;
    width: 70%;
    padding: .4em;
    background-color: var(--c-gray);
    color: var(--c-white);
    border-radius: .4em;
    margin: 1em auto;
  }
  
  & h3 {
    grid-column: span 2;
    margin: 0;
    margin-bottom: .5em;
  }

  & label.option {
    display: block;
    text-align: end;
  }

  & input[type="text"].option {
    font-size: 1rem;
    background-color: transparent;
    border: 0;
    outline: 0;
  }
}

.split-line {
  width: 90%;
  height: 1px;
  background-color: var(--c-gray);
  margin: 0 auto;
}

.search-form {
  margin-top: .5em;

  & span {
    display: block;
    text-align: center;
  }

  & input {
    font-size: 1.1rem;
    margin-top: .5em;
    width: 100%;
    border: 1px solid black;
    border-radius: .2em;
    padding: .1em .2em;

    &:focus {
      outline: 0;
      border-color: rgb(79, 140, 219);
    }
  }
}

.search-bar-container {
  position: relative;

  & ul {
    display: none;

    position: absolute;
    bottom: 100%;
    left: 0;

    width: 100%;
    max-height: 10rem;
    overflow-y: auto;
    background-color: #fff;
    font-size: 1.1rem;
    border: 1px solid #555;
    border-radius: .2em;

    list-style: none;

    & li {
      background-color: inherit;
      padding: .4em 2em;
      
      display: grid;
      grid-template-columns: 1fr min-content min-content;
      gap: .5em;

      & span {
        overflow-x: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
      }
      
      & .name {
        text-align: left;
        font-size: 1.1rem;
      }

      & .mass,
      & .width {
        text-align: right;
        font-size: .8rem;
        color: #777;
      }
    }

    & li.verified .name {
      color: hsl(152, 100%, 30%);
    }
  }

  & input:focus ~ ul {
    display: block;
  } 

  & ul:empty::before {
    content: "Not found";
    display: block;
    color: #aaa;
    text-align: center;
  }
}
